@import 'Variables'

ul
  padding: 0
  text-align: left

li
  color: #fff
  list-style-type: none

li:before
  content: "-"
  margin: 0 5px 0 0

.container
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%

.green
  color: #4BDAA5

.circle
  background-color: #4BDAA5
  border-radius: 50%
  display: inline-block
  height: 40px
  margin: 0 30px 0 0
  width: 40px
  vertical-align: middle

.photo
  width: 50%

.about
  color: #fff
  margin: 0 0 30px
  text-align: left
  width: 50%

.courses
  text-align: left
  width: 50%

.skills
  text-align: left
  width: 50%