@import 'Variables'

*
  box-sizing: border-box

body
  font-family: 'Raleway', sans-serif
  overflow: hidden
  text-align: center

.Granim
  position: absolute
  display: block
  width: 100vw
  height: 100vh
  top: 0
  right: 0
  bottom: 0
  left: 0

.Portfolio
  position: relative
  height: 100vh