@import 'Variables'

*
  box-sizing: border-box

body
  overflow: hidden
  height: 100vh
  text-align: center
  @media #{$max-md}
    height: auto
    min-height: 100vh
    overflow: visible
    position: relative
    margin: 0

.Granim
  position: absolute
  display: block
  width: 100vw
  height: 100vh
  top: 0
  right: 0
  bottom: 0
  left: 0
  @media #{$max-md}
    height: 100%
    width: 100%


.Modified-Granim
  position: absolute
  display: block
  width: 100%
  height: calc(100% + 78px)
  top: 0
  right: 0
  bottom: 0
  left: 0
  @media #{$max-md-high-height}
    height: 100vh
  @media #{$max-xs-high-height}
    height: calc(100% + 66px)

.Portfolio
  font-family: 'Open Sans', sans-serif;
  position: relative
  height: 100vh
  margin: 0 auto
  width: 75vw
  @media #{$max-md}
    height: auto
    min-height: 100vh
    width: 90vw