.container
  color: #fff
  float: left
  height: 100%
  text-align: left
  position: relative
  width: 50%

.circle
  background-color: #4BDAA5
  border-radius: 50%
  display: inline-block
  height: 40px
  margin: 0 30px 0 0
  width: 40px
  vertical-align: top

.contact
  display: inline-block
  line-height: 25px
  margin: 0

.loading-element
  height: 100%

.map-container
  bottom: 0
  height: 400px
  position: absolute
  width: 100%

.map-element
  height: 100%