@import 'Variables'

.contact
  position: absolute
  top: 50%
  left: 50%
  height: calc(100vh - 250px)
  max-height: 600px
  transform: translate(-50%, -50%)
  width: 100%
  @media #{$max-md}
    height: auto
    max-height: none
    padding: 40px 0
    position: static
    transform: none
  @media #{$max-md-portrait}
    padding: 60px 0