.form
  color: gray
  float: right
  height: 100%
  width: 38.5%
  position: relative
  input, textarea
    color: #fff
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px
    width: 100%
  input:focus,
  textarea:focus
    box-shadow: none
    outline: none !important
    border-bottom: 1px solid #fff
  input:required,
  textarea:required
    box-shadow: none
    outline: none !important
  textarea
    background: none
    border: none
    border-bottom: 1px solid gray
    resize: none

input:-webkit-autofill
  transition: 5000s ease-in-out 0s;

.text-input
  background: none
  border: none
  border-bottom: 1px solid gray
  margin: 0 0 30px

.label-message
  color: gray
  display: block
  margin: 30px 0 0
  text-align: left
  text-transform: uppercase

.submit-input
  color: #fff
  border: none
  background-color: #238D66
  margin: 60px 0 0
  text-transform: uppercase
  transition: background-color 0.5s
  padding: 10px 0
  &:hover
    background-color: #0A402C

.bottom-partial
  bottom: 0
  position: absolute
  width: 100%