.footer
  border-top: 1px solid #fff
  bottom: 5px
  font-family: 'Poiret One', cursive
  position: absolute
  width: 100%

.container
  margin: auto

.reserved
  color: #fff
  float: left
  p
    bottom: 0
    margin: 8px 0
    position: absolute

.contact
  color: #fff
  float: right
  text-align: right
  p
    margin: 8px 0