@import 'Variables'

.footer
  border-top: 1px solid #fff
  bottom: 0
  font-family: 'Poiret One', cursive
  overflow: hidden
  position: absolute
  width: 100%
  p
    letter-spacing: 1px
  @media #{$max-sm}
    font-size: 12px
  @media #{$max-xs-low-height}
    font-size: 8px

.modified-footer
  @extend .footer
  @media #{$max-xl-low-height}
    position: static
  @media #{$max-md-middle-height}
    position: static
  @media #{$max-sm-middle-height}
    position: static
  @media #{$max-xs-portrait}
    font-size: 8px
  @media #{$max-xs-low-height}
    font-size: 8px

.container
  margin: auto

.reserved
  color: #fff
  float: left
  p
    bottom: 0
    margin: 6px 0 2px
    position: absolute
    @media #{$max-sm}
      position: static
      margin: 42px 0 0
  @media #{$max-xs}
    display: none

.contact
  color: #fff
  float: right
  text-align: right
  p
    margin: 6px 0 2px