@import 'Variables'

.footer
  border-top: 1px solid #fff
  bottom: 5px
  font-family: 'Poiret One', cursive
  position: absolute
  width: 100%
  @media #{$max-md}
    bottom: 0
  @media #{$max-sm}
    font-size: 12px
  @media #{$max-xs-low-height}
    font-size: 8px

.modified-footer
  border-top: 1px solid #fff
  font-family: 'Poiret One', cursive
  position: absolute
  width: 100%
  @media #{$max-md}
    bottom: -78px
  @media #{$max-md-portrait}
    bottom: 0
  @media #{$max-xs-portrait}
    bottom: -66px
    font-size: 8px
  @media #{$max-xs-low-height}
    font-size: 8px

.container
  margin: auto

.reserved
  color: #fff
  float: left
  p
    bottom: 0
    margin: 8px 0
    position: absolute
  @media #{$max-xs-portrait}
    display: none

.contact
  color: #fff
  float: right
  text-align: right
  p
    margin: 8px 0