.circle
  border: 1px solid #fff
  border-radius: 50%
  cursor: pointer
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  height: 400px
  width: 400px
  transition: border 0.75s
  &:hover
  	border: 1px solid #4BDAA5
  	h1
      color: #4BDAA5


h1
  color: #fff
  font-size: 48px
  font-weight: 300
  margin: 0
  line-height: 75px
  max-width: 200px
  text-transform: uppercase
  position: absolute
  transition: color 0.75s
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%

.video
  position: fixed
  top: 0
  left: 0