.circle
  border: 1px solid #4BDAA5
  border-radius: 50%
  cursor: default
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  height: 400px
  width: 400px
  transition: background-color 0.75s, box-shadow 0.75s
  &:hover
  	box-shadow: 0px 0px 100px 5px rgba(75,218,165,1)
  	background-color: #4BDAA5
  	h1
  	  color: #000A2D

h1
  color: #4BDAA5
  font-size: 48px
  font-weight: 300
  margin: 0
  line-height: 75px
  max-width: 200px
  text-transform: uppercase
  position: absolute
  transition: color 0.75s
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%