.circle
  border: 1px solid #4BDAA5
  border-radius: 50%
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  height: 400px
  width: 400px

h1
  color: #4BDAA5
  font-size: 48px
  font-weight: 300
  margin: 0
  line-height: 75px
  max-width: 200px
  text-transform: uppercase
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%