@import 'Variables'

.projects
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 2
.navigation
  top: calc((100vh - 350px) / 2)
  color: #fff
  position: absolute
  left: -72px
  right: 0
  width: calc(((100vh - 350px) * 1.4) + 144px)
  @media screen and (min-height: 1050px)
    top: 350px
    width: 1124px

.angle-double-left
  position: absolute
  left: 0

.angle-double-right
  position: absolute
  right: 0