@import 'Variables'

.navigation
  bottom: 5%
  position: absolute
  left: 0
  right: 0
  @media #{$max-md}
    bottom: 100px

.scroll
  animation: scroll-background 2s
  animation-iteration-count: infinite
  background: rgba(255, 255, 255, 0.15)
  border: 1px solid #fff
  border-radius: 10px
  display: block
  margin: auto
  height: 40px
  position: relative
  width: 25px
  &:before
    content: ''
    height: 8px
    position: absolute
    right: 11px
    top: 8px
    width: 1px
    background: #fff

@keyframes scroll-background
  0%
    background: rgba(255, 255, 255, 0.15)
  50%
    background: rgba(255, 255, 255, 0)
  100%
    background: rgba(255, 255, 255, 0.15)


.chevron
  color: #fff
  position: absolute
  width: 25px
  height: 25px
  opacity: 0
  transform: scale(0.3)
  animation: move-chevron 3s ease-out infinite


.chevron:first-child
  animation: move-chevron 3s ease-out 1s infinite

.chevron:nth-child(2) 
  animation: move-chevron 3s ease-out 2s infinite


.chevron:before,
.chevron:after 
 content: ''
 position: absolute
 top: 0
 height: 100%
 width: 50%
 background: #2c3e50


.chevron:before 
 left: 0
 transform: skewY(30deg)


.chevron:after 
 right: 0
 width: 50%
 transform: skewY(-30deg)


@keyframes move-chevron 
 25% 
  opacity: 1
  
 33.3% 
  opacity: 1
  transform: translateY(7.5px * 3.8)
 
 66.6% 
  opacity: 1
  transform: translateY(7.5px * 5.2)
 
 100% 
  opacity: 0
  transform: translateY(7.5px * 8) scale(0.5)
 
