@import 'Variables'

.figure
  margin: 0
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.image
  width: 45vw
  @media #{$max-lg}
    width: 65vw
  @media #{$max-lg} and (max-height: 700px)
    width: 55vw
  @media #{$max-md}
    width: 75vw
  @media #{$max-md} and (max-height: 600px)
    width: 45vw
  @media #{$max-sm}
    width: 95vw
  @media #{$max-sm} and (max-height: 500px)
    width: 45vw

.figcaption
  color: #fff
  font-size: 24px
  text-align: left
  @media #{$max-sm}
    font-size: 16px

.git-link
  color: #fff
  float: right
  text-decoration: none