@import 'Variables'

.figure
  margin: 0

.image
  height: calc(100vh - 350px)
  max-height: 700px
  width: calc((100vh - 350px) * 1.4)
  max-width: 980px
  @media #{$max-lg}
    height: calc(100vh - 230px)
    max-height: calc(90vw / 1.4)
    width: calc((100vh - 230px) * 1.4)
    max-width: 90vw
  @media #{$max-sm}
    height: calc(100vh - 180px)
    width: calc((100vh - 180px) * 1.4)
  @media #{$max-xs}
    height: calc(100vh - 150px)
    width: calc((100vh - 150px) * 1.4)

.figcaption
  color: #fff
  font-size: 16px
  text-align: left
  @media #{$max-sm}
    font-size: 16px

.git-link
  color: #fff
  float: right
  text-decoration: none