@import 'Variables'

.Top-Nav
  font-family: 'Poiret One', cursive
  padding: 20px 0 0
  position: relative
  z-index: 3
  @media #{$max-lg}
    padding: 10px 0 0

.link
  color: #fff
  display: inline-block
  font-size: 32px
  letter-spacing: 4px
  width: 240px
  padding: 0
  text-decoration: none
  text-transform: uppercase
  transition: 0.3s
  &:hover
  	color: #000
  	background: #fff
  	outline: 1px solid #fff
  @media #{$max-xl}
    font-size: 24px
    width: 180px
  @media #{$max-lg}
    width: 150px
  @media #{$max-sm}
    font-size: 16px
    margin: 10px 0 0
    width: 125px
  @media #{$max-xs}
    display: inline-block
    margin: 10px 0 0
    width: 50%
  @media #{$max-xs-low-height}
    font-size: 12px
    margin: 0

.active
  border: 1px solid #fff
  &:hover
  	outline: none