@import 'Variables'

.Top-Nav
  font-family: 'Poiret One'
  padding: 40px 0 0
  @media #{$max-sm}
    padding: 10px 0 0

.link
  color: #fff
  font-size: 24px
  padding: 0 75px
  text-decoration: none
  text-transform: uppercase
  transition: 0.3s
  &:hover
  	color: #000
  	background: #fff
  	outline: 1px solid #fff
  @media #{$max-sm}
    display: inline-block
    margin: 0 0 20px
    font-size: 16px
    padding: 0 50px

.active
  border: 1px solid #fff
  &:hover
  	outline: none