$portrait: 'screen and (orientation: portrait)'
$max-xl: 'screen and (max-width: 1600px)'
$max-xl-low-height: 'screen and (max-width: 1600px) and (max-height: 750px)'
$max-lg: 'screen and (max-width: 1199px)'
$max-lg-portrait: 'screen and (max-width: 1199px) and (orientation: portrait)'
$max-lg-low-height: 'screen and (max-width: 1199px) and (max-height: 757px)'
$max-md: 'screen and (max-width: 991px)'
$max-md-portrait: 'screen and (max-width: 991px) and (orientation: portrait)'
$max-md-middle-height: 'screen and (max-width: 991px) and (max-height: 890px)' 
$max-md-low-height: 'screen and (max-width: 991px) and (max-height: 500px)'
$max-sm: 'screen and (max-width: 767px)'
$max-sm-landscape: 'screen and (max-width: 767px) and (orientation: landscape)'
$max-sm-middle-height: 'screen and (max-width: 991px) and (max-height: 800px)'
$max-sm-portrait: 'screen and (max-width: 767px) and (orientation: portrait)'
$max-xs: 'screen and (max-width: 575px)'
$max-xs-high: 'screen and (max-width: 575px) and (min-height: 640px)'
$max-xs-portrait: 'screen and (max-width: 575px) and (orientation: portrait)'
$max-xs-landscape: 'screen and (max-width: 575px) and (orientation: landscape)'
$max-xs-low-height: 'screen and (max-width: 575px) and (max-height: 320px)'

$image-proportion: 1.4
$arrow-width: 72px
$two-arrows-width: 144px